<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title th:text="${title}">Title</title>
</head>
<body>
<h1 th:text="${title}"></h1>
<hr>

<div class="container">
    <form method="POST" modelAttribute="userForm" class="form-signin">
        <h2 class="form-signin-heading">Create your account</h2>
        <spring bind path="username">
            <div class="form-group ${status.error ? 'has-error' : ''"}>
                <form input type="password" path="passwordConfirm" class="form-control"
                      placeholder="Confirm your password"></form>
                <form errors path="passwordConfirm"></form>
            </div>
        </spring>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>










</body>
</html>